
<!---Image Slider ------>
<div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/ionic.jpg" height="370" width="960">
            </div>
            <div class="item">
                <img src="images/node.png" height="370" width="960">
            </div>

            <div class="item">
                <img src="images/hybrid.png" height="370" width="960" >
            </div>

            <div class="item">
                <img src="images/meteor.png" height="370" width="960">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!--Courses-->

<section id="courses" style="padding-bottom: 70px; background-image: url('images/ba.jpg');background-repeat: no-repeat;background-size: cover;" class="row">
    <div class="container">
        <h1 style="padding: 20px 0px 40px 0px;color: #d43f3a" class="center bold ">What We Teaches</h1>
        <div class="row">
            <div class=" col-md-4">
                <div class="center">
                    <img src="images/angular-js.png">
                    <h3 class="bold" style="color: red">Front End Technologies</h3>
                    <ul style="margin-left: -40px">
                        <li>HTML, CSS, jQuery, JS,</li>
                        <li>Angular JS, React JS, Meteor JS,</li>
                        <li>TypeScript, Bootstrap</li>
                    </ul>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="center" id="fet">
                    <img src="images/hybridicon.png" height="200px" width="200px">
                    <h3 class="bold" style="color: red">Hybrid App Technologies</h3>
                    <ul style="margin-left: -40px">
                        <li>Adobe Phonegap, Ionic</li>
                        <li>Xamarin, Framework7</li>
                       <li>Apache Cordova</li>
                    </ul>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="center">
                    <img src="images/nodejs_logo.png">
                    <h3 class="bold" style="color: red">Back End Technologies</h3>
                    <ul style="margin-left: -40px">
                        <li>MySQL, NoSQL</li>
                        <li>Node JS, Meteor JS, Python, PHP, JSP</li>
                        <li>Mongo DB, Maria DB</li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-5">

            </div>
            <div class="col-xs-offset-1 col-xs-5">

            </div>
        </div>
    </div>
</section>


<!--How We Teaches-->

<section id="benefits" style="background-image: url('../images/images.jpg')" class="row">
    <div class="container">
        <h1 style="padding: 20px 0px 40px 0px;color: #d43f3a" class="center bold ">How We Teaches</h1>
        <div style="padding:20px 0px 40px 0px" class="row center">
            <div class="col-md-4">
                <div class="right">
                    <img src="images/offer1.png" height="250px" width="250px">
                </div>
            </div>

            <div class="col-md-8" style="border-left: 2px solid black">
                <div style="padding-left: 30px;">
                    <h2 class="left">Interactive Hands-on Training</h2><br>
                    <p class="left">Codeaholic Labs provide training on Internet Technologies, Core Software Fundamentals and Future Technologies.
                        We teach you through lectures - We make you code along. You learn to convert simple programs into real world applications.</p>
                </div>
            </div>
        </div>
        <hr>
        <div style="padding:20px 0px 40px 0px" class="row center">
            <div class="col-md-8" style="border-right:2px solid black">
                <div style="padding-right: 30px;padding-top: 10px">
                    <h2 class="right">Launch what you build</h2>
                    <p class="right">Our training don't include old-school projects. You learn and build your own projects.<br> You get to launch them right away.
                        It can be your startup Idea or your ticket to a great Job.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="left">
                    <img src="images/offer.png" height="250px" width="250px">
                </div>
            </div>
        </div>
        <hr>
        <div style="padding:20px 0px 40px 0px" class="row">
            <div class="col-md-4">

                <div class="right">
                    <img src="images/learning.png" height="250px" width="250px">
                </div>
            </div>

            <div class="col-md-8" style="border-left: 2px solid gray">
                <div style="padding-left: 30px;padding-top: 10px;" class="left">
                    <h2>Learning System</h2>
                    <p class="left">With Urvashi Labs Learning Management System, you become part of the organization.<br>
                        All your progress, documents and study material will be available in your login. Cool right !</p>
                </div>
            </div>
        </div>
        <hr>
        <div style="padding:20px 0px 40px 0px" class="row">
            <div class="col-md-8" style="border-right: 2px solid black">
                <div style="padding-left: 30px;padding-top: 10px" class="right">
                    <h1>Selective Batches</h1>
                    <p>We create a very small or selective batch of Students.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="left">
                    <img src="images/batches.png" height="250px" width="300px">
                </div>
            </div>
        </div>

    </div>

</section>

<!--Registration-->

<section style="height:500px; padding: 40px 0px 40px 0px;background-image: url('images/regi.jpg');background-repeat: no-repeat;background-size: cover;" class="row">
    <div class="center" style="padding-top: 100px">
        <h2 style="color: white;padding-bottom: 30px"><strong>Registration for Training is open</strong></h2>
        <button class="btn btn-lg btn-warning">Click Here For Register</button>
    </div>

</section>


<!--Contact Us-->
<section  style="padding: 50px 0px 50px 0px;background-image: url('images/world.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="row">

        <div class="col-md-offset-2 col-md-4 center">

            <div class="row" >
                <div class="col">
                    <h2 style="color: black">Contact Us</h2>
                    <hr>
                    <h4 style="color: black"><b>Codeaholic Labs</b></h4>
                    <h4 style="color: black">contact@codeholiclabs.in</h4>
                    <h4 style="color: black">Mob - +91 9999999999</h4>
                </div>

            </div>
        </div>



        <div class=" col-md-5 center">

            <h2 style="color: black">Questions | Feedback</h2>
            <hr>

            <form class="form1" method="post" action="#" >
                <input type="text" id="contact_name_1" class="input" placeholder="Name"><br>
                <input type="text" id="contact_email_1" class="input" placeholder="Email Address"><br>
                <textarea name="contact_message_1" id="contact_message_1" class="contact_message input" placeholder="Message"></textarea>

                <div class="contact_bottom_container">

                    <button type="submit" class="btn btn-group-lg btn-info">Submit</button>
                </div>

            </form>
            <!-- .et_pb_contact -->
        </div>


    </div>
</section>
